
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>
            {% for melon_details in cart %}
                <tr>
                    <td>{{ melon_details['common_name'] }}</td>
                    <td>{{ melon_details['qty'] }}</td>
                    <td>{{ melon_details['cost'] }}</td>
                    <td>{{ melon_details['total_cost']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




    <h3>Total: $27.00</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
